@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media only screen and (min-width: 768px) {
  html, body, #root, #root>div {
    min-height: 100% !important;
    height: 100% !important;
    overflow: auto !important;
  }
}

html, body, #root, #root>div {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}

/* Add a border and shadow to the rounded rectangle */
.mapboxgl-popup-content {
  box-shadow: 0px 2px 4px 2px rgba(0,0,0,.1)
}

/* Move the content above the :before element so rotated rectangle doesn't cover content */
.mapboxgl-popup-content div {
  position: relative;
  z-index: 5;
}

/* This is the new tip */
.mapboxgl-popup-content:before {
  content: '';
  position: absolute;
  /* I've found 9px looks better than 10px */
  top: -webkit-calc(100% - 9px);
  top: calc(100% - 9px);
  left: calc(50% - 10px);
  height: 20px;
  width: 20px;
  background: white;
  transform: rotate(45deg);
  border-bottom: inherit;
  border-right: inherit;
  /* The shadow is translated down a bit so it doesn't show inside the pop-up */
  box-shadow: 4px 4px 4px -1px rgba(0, 0, 0, 0.1);
  z-index: 4;
}

/* Since the new tip is absolutely-positioned, it doesn't force the rectangle up on its own */
.mapboxgl-popup {
  margin-top: -10px;
}

/* Hide the old tip */
.mapboxgl-popup-tip {
  display: none;
}

.transition_fade_cool {
  transition: visibility 1s, opacity 1s;
}

